// @import "email-normalize";

// @import "clients/outlook-hotmail";
// @import "clients/outlook";
// @import "clients/osx-ios";
// @import "clients/ms-mobile";


/* LET THE REAL STYLE BEGIN!
=================================================================== */
body, p, span, a, strong, em {
	-webkit-text-size-adjust: none;
}

body
{
	background:#ff6600;
	color:#fff;
}