/* [sass, src/sass, style.scss] */
/* LET THE REAL STYLE BEGIN!
=================================================================== */
/* line 11, C:\Users\Bang Marketing\Documents\GitHub\mixture-premailer-grunt\src\sass\style.scss */
body, p, span, a, strong, em {
  -webkit-text-size-adjust: none; }

/* line 15, C:\Users\Bang Marketing\Documents\GitHub\mixture-premailer-grunt\src\sass\style.scss */
body {
  background: #ff6600;
  color: #fff; }
